<h1>SCEL Data Network</h1>
<p>Pretty plain. Check out data nodes to see the network. </p>


<hr />
<h2>Current Status</h2>

<h3>Battery Voltage for Dragonfruit Test</h3>
<div class="nodeGraph" id="dragonfruit-graph" data-nodeAddress="888" style="height:300px; width:700px"></div>

<h3>Battery Voltage for Cranberry Test</h3>
<div class="nodeGraph" id="cranberry-graph" data-nodeAddress="889" style="height:300px; width:700px"></div>
